*{
    font-family: 'Cairo', sans-serif;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.68), rgba(0,0,0,0.68)),url('himalayas4k.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.container{
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 0 15px;
}

span, header{
    color: #fff;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-family: monospace;
    font-weight: bold;
}

span{
    font-size: 1.1rem;
}

.input-field{
    display: flex;
    flex-direction: column;
}

.input{
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.88);
    color: #fff;
    padding-left: 40px;
}

i{
    position: relative;
    top: -31px;
    left: 17px;
    color: #fff;
}

::-webkit-input-placeholder{
    color: #fff;
}

.submit{
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 30px;
    height: 45px;
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    cursor: pointer;
}

.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.5);
}

.bottom{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
}

.left{
    display: flex;
}

label a{
    color: #fff;
    text-decoration: none;
}
.top-header{
    padding: 0;
}